* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.w {
    width: 1200px;
    margin: 0 auto;
}


li {
    list-style: none;
}

a {
    text-decoration: none;
}

.clearfix:after {
    content: '';
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.clearfix {
    *zoom: 1
}

.header {
    height: 58px;
    margin-top: 50px;
    padding: 0 20px;
}

.header .logo {
    width: 50%;
    height: 100%;
    float: left;
}

.header .seek .phone {
    padding-top: 10px;
    height: 100%;
    width: 20px;
    display: inline-block;
    line-height: 58px;
}

.header .seek {
    width: 50%;
    height: 100%;
    line-height: 58px;
    float: left;
    padding-left: 200px;
}

.header .seek img {
    vertical-align: middle;
}

/* nav区域 */

.nav {
    height: 30px;
    margin-top: 20px;

}

.nav ul li {
    float: left;
    height: 100%;
    line-height: 30px;
}

.nav ul li a {
    display: block;
    padding: 0 55px;
    color: black;
}

.nav ul li a:hover {
    color: aqua;
}

.banner img {
    margin-top: 10px;
    width: 100%;
}

/* 尾部公共区域 */
.footer {
    width: 100%;
    height: 300px;
    color: antiquewhite;
    background-color: #555;
}

.content {
    height: 250px;
    padding: 30px 50px 0;
}

.content dl {
    float: left;
    margin-right: 70px;
}

.content dt {
    font-size: 18px;
}

.content dd {
    font-size: 14px;
    margin-top: 12px;
}

.content .erweima {
    float: right;
    margin-right: 100px;
    text-align: center;
    font-size: 14px;
}

.footer .version {
    height: 50px;
    text-align: center;
    line-height: 50px;
    background-color: #222;
}

/* 左侧导航公共区域 */

.nav-left {
    position: relative;
    float: left;
    width: 180px;
    height: 130px;
    background-color: #01609A;
}

.nav-left .img {
    width: 180px;
    height: 80px;
    background-image: url(../images/bg_8.jpg);
}

.nav-left .serve-nav {
    position: absolute;
    left: 5px;
    width: 175px;
    background-color: aliceblue;
}

.nav-left .serve-nav ul li {
    width: 100%;
    height: 50px;
    font-size: 14px;
    line-height: 50px;
    padding-left: 30px;
    padding-right: 15px;
    cursor: pointer;
}

.nav-left .serve-nav ul li:hover {
    background-color: #ccc;
}

.nav-left .serve-nav ul li img {
    float: right;
    margin-top: 20px;
}


/* 分页器 */
.pagination {
    width: 100%;
    height: 25px;
    margin-top: 40px;
    padding: 0 300px;
}


.pagination ul li {
    font-size: 13px;
    float: left;
    width: 20px;
    height: 25px;
    text-align: center;
    line-height: 20px;
    margin-right: 20px;
}

.pagination ul li button {
    width: 100%;
    height: 100%;
}

/* 右侧头部区域 */
.location {
    width: 100%;
    height: 30px;
    text-align: right;
    line-height: 30px;
    padding-right: 30px;
    font-size: 13px;
}

/* 导航高亮 */
.naving {
    width: 100px;
    text-align: center;
    margin-top: 50px;
    font-size: 20px;
    color: aqua;
    border-bottom: 1px solid aqua;
}

/* 轮播 */
  html,
  body {
      position: relative;
      height: 100%;
  }

  body {
      background: #eee;
      font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
      font-size: 14px;
      color: #000;
      margin: 0;
      padding: 0;
  }

  .swiper {
      width: 100%;
      height: 100%;
  }

  .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #fff;

      /* Center slide text vertically */
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
  }

  .swiper-slide img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
  }