.content-customer {
    margin-top: 20px;
    margin-bottom: 40px;
}

.content-customer .title {
    width: 100%;
    height: 80px;

    padding-right: 40px;
}

.content-customer .title .img {
    float: left;
    width: 180px;
    height: 80px;
    background-image: url(../images//bg_8.jpg);
}

.content-customer .title span {
    float: right;
    font-size: 13px;
    line-height: 80px;
}

.content-customer .list {
    margin-top: 30px;
    width: 100%;
    height: 420px;
}

.content-customer .list ul li {
    float: left;
    margin-bottom: 15px;
    margin-left: 17px;
    width: 220px;
    height: 200px;
}


