.serve {
    margin-top: 20px;
    margin-bottom: 50px;
}



.serve .infor {
    float: right;
    width: 970px;
    
}





.serve .infor .pro {
    margin-top: 20px;
}

.serve .infor .pro h4 {
    font-size: 14px;
    font-weight: bolder;
    margin-bottom: 5px;
}

.serve .infor .pro p {
    font-size: 13px;
    text-indent: 2em;
    line-height: 30px;
}

.serve .infor .process {
    margin-top: 20px;
}

.serve .infor .process h4 {
    font-size: 14px;
    font-weight: bolder;
    margin-bottom: 5px;
}

.serve .infor .process ol li {
    font-size: 13px;
    text-indent: 2em;
    line-height: 30px;
}

.serve .infor .process ol li span {
    margin-left: 3em;
}