.serve {
    margin-top: 20px;
    margin-bottom: 50px;
}

.serve .nav-left {
    position: relative;
    float: left;
    width: 180px;
    height: 130px;
    background-color: #01609A;
}

.serve .nav-left .img{
    width: 180px;
    height: 80px;
    background-image: url(../images/bg_8.jpg);
}

.serve .nav-left .serve-nav {
    position: absolute;
    left: 5px;
    width: 175px;
    
    background-color: aliceblue;
}

.serve .nav-left .serve-nav ul li {
    width: 100%;
    height: 50px;
    font-size: 14px;
    line-height: 50px;
    padding-left: 30px;
    padding-right: 15px;
    cursor: pointer;
}

.serve .nav-left .serve-nav ul li:hover {
    background-color: #ccc;
}

.serve .nav-left .serve-nav ul li img {
    float: right;
    margin-top: 20px;
}

.serve .infor {
    float: right;
    width: 970px;
    
}

.serve .infor .location {
    width: 100%;
    height: 30px;
    text-align: right;
    line-height: 30px;
    padding-right: 30px;
    font-size: 13px;
}

.serve .infor .naving {
    width: 100px;
    text-align: center;
    margin-top: 50px;
    font-size: 20px;
    color: aqua;
    border-bottom: 1px solid aqua;
}


.serve .infor .pro {
    margin-top: 20px;
}

.serve .infor .pro h4 {
    font-size: 14px;
    font-weight: bolder;
    margin-bottom: 5px;
}

.serve .infor .pro p {
    font-size: 13px;
    text-indent: 2em;
    line-height: 30px;
}

.serve .infor .process {
    margin-top: 20px;
}

.serve .infor .process h4 {
    font-size: 14px;
    font-weight: bolder;
    margin-bottom: 5px;
}

.serve .infor .process ol li {
    font-size: 13px;
    text-indent: 2em;
    line-height: 30px;
}

.serve .infor .process ol li span {
    margin-left: 3em;
}